<!-- dashboard.component.html -->
<div class="dashboard-wrapper">
  <div class="header-title">
    <img id="header-icon" src="assets/images/icons/dashboard.png">
    <h1 class="header-text"><b>DASHBOARD</b></h1>
  </div>
  <hr>
  <div class="onchain-stats">
    <div class="stats-cards">
      <!-- Ethereum Card -->
      <div class="card eth-card">
        <div class="card-body">
          <div class="sub-title">
            <img class="sub-title-icon" src="assets/images/icons/ethereum-big-logo.png">
            <h3 class="card-title"><b>Ethereum</b></h3>
          </div>
          <p class="card-text-price"><b>Price:</b> {{etherPrice | currency:'USD'}}</p>
          <p class="card-text"><b>Latest Block:</b> {{latestBlockNumber}}</p>
          <h3 class="card-title"><b>Gas Prices (Gwei)</b></h3>
          <p class="card-text"><b>Safe:</b> {{gasPrices?.SafeGasPrice}}</p>
          <p class="card-text"><b>Proposed:</b> {{gasPrices?.ProposeGasPrice}}</p>
          <p class="card-text"><b>Fast:</b> {{gasPrices?.FastGasPrice}}</p>
          <p class="card-text"><b>Supply:</b> 120.1 M </p>
        </div>
      </div>

      <!-- Polygon Card -->
      <div class="card polygon-card">
        <div class="card-body">
          <div class="sub-title">
            <img class="sub-title-icon" src="assets/images/icons/polygon-big-logo.png">
            <h3 class="card-title"><b>Polygon</b></h3>
          </div>
          <p class="card-text-price"><b>Price:</b> {{polygonPrice | currency:'USD'}}</p>
          <p class="card-text"><b>Latest Block:</b> {{polygonLatestBlockNumber}}</p>
          <h3 class="card-title"><b>Gas Prices (Gwei)</b></h3>
          <p class="card-text"><b>Safe:</b> {{polygonGasPrices?.SafeGasPrice}}</p>
          <p class="card-text"><b>Proposed:</b> {{polygonGasPrices?.ProposeGasPrice}}</p>
          <p class="card-text"><b>Fast:</b> {{polygonGasPrices?.FastGasPrice}}</p>
          <p class="card-text"><b>Supply:</b> 9.9 Billion </p>
        </div>
      </div>

      <!-- Avalanche Card -->
      <div class="card avax-card">
        <div class="card-body">
          <div class="sub-title">
            <img class="sub-title-icon" src="assets/images/icons/avalanche-big-logo.png">
            <h3 class="card-title"><b>Avalanche</b></h3>
          </div>
          <p class="card-text-price"><b>Price:</b> {{avalanchePrice | currency:'USD'}}</p>
          <p class="card-text"><b>Latest Block:</b> {{avalancheLatestBlockNumber}}</p>
          <h3 class="card-title"><b>Gas Prices (Gwei)</b></h3>
          <p class="card-text"><b>Safe:</b> {{avalancheGasPrices?.SafeGasPrice}}</p>
          <p class="card-text"><b>Proposed:</b> {{avalancheGasPrices?.ProposeGasPrice}}</p>
          <p class="card-text"><b>Fast:</b> {{avalancheGasPrices?.FastGasPrice}}</p>
          <p class="card-text"><b>Supply:</b> 720 M </p>
        </div>
      </div>
    </div>
  </div>

  <div class="full-width-rectangle">
    <!-- Placeholder for future content -->
  </div>

</div>
