.dashboard-wrapper {
  width: 100%;
  margin: auto;
  padding: 20px 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #0c162c;
}

.header-title{
  display: flex;
  margin-left: 4.5%;
  margin-top: 10px;
  height: 60px;
  padding-top: 8px;
}

.header-text {
  width: 50px;
  margin-top: 6px;
  font-size: 30px;
}

#header-icon {
  width: 35px;
  height: 35px;
  margin-right: 20px;
}

.stats-cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.card {
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 0 20px;
}

.eth-card {
  background: linear-gradient(to bottom right, #88aaf1, #0c162c);
}

.sub-title {
  display: flex;
}

.polygon-card {
  background: linear-gradient(to bottom right, #8247e5, #0c162c);
}

.avax-card {
  background: linear-gradient(to bottom right, #e84142, #0c162c);
}

.card-body {
  padding: 20px;
  text-align: left;
}

.sub-title-icon {
  width: 40px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.card-title {
  font-size: 24px;
  color: white;
  margin-bottom: 5px;
  margin-top: 7px;
}

.card-text-price{
  font-size: 40px;
  color: white;
  margin-bottom: 25px;
  margin-top: 15px;
}

.card-text {
  font-size: 20px;
  color: white;
}

.loading-text, .error-text {
  text-align: center;
}

.monitored-contracts, .onchain-stats, .smart-contracts-section {
  margin-bottom: 30px;
}

.full-width-rectangle {
  width: 97.5%;
  height: 328px;
  margin: 40px 20px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.background-img {
  width: 100%;
  height: 100%;
  background: url('../../../assets/images/background/blockchainBackground2.png') no-repeat center center;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 10px; /* Add space between h1 and h2 */
}

.overlay-text {
  font-size: 50px;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.1); /* Semi-transparent background */
  padding: 20px 20px; /* Padding around the text */
  border-radius: 5px; /* Rounded corners */
  text-align: center; /* Center align the text */
}

h2.overlay-text {
  font-size: 40px; /* Smaller font size for h2 */
}



