.dashboard-wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #E3FDFD;
}

.header-title{
  display: flex;
}

.header-text {
  width: 50px;
  margin-top: 6px;
  font-size: 30px;
}

#header-icon {
  width: 35px;
  height: 35px;
  margin-right: 20px;
}

.stats-cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.card {
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.eth-card {
  background: linear-gradient(to bottom right, #141414, #8c8c8c);
}

.sub-title {
  display: flex;
}

.polygon-card {
  background: linear-gradient(to bottom right, #8247e5, #E49BFF);
}

.avax-card {
  background: linear-gradient(to bottom right, #e84142, #FF8989);
}

.card-body {
  padding: 20px;
  text-align: left;
}

.sub-title-icon {
  width: 40px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.card-title {
  font-size: 24px;
  color: white;
  margin-bottom: 5px;
  margin-top: 7px;
}

.card-text-price{
  font-size: 40px;
  color: white;
  margin-bottom: 25px;
  margin-top: 15px;
}

.card-text {
  font-size: 20px;
  color: white;
}

.loading-text, .error-text {
  text-align: center;
}

.monitored-contracts, .onchain-stats, .smart-contracts-section {
  margin-bottom: 30px;
}

.full-width-rectangle {
  width: 100%;
  height: 400px;
  background-color: #ffffff;
  margin-top: 20px;
  border-radius: 10px;
}
