<!-- dashboard.component.html -->
<div class="header-title">
  <img id="header-icon" src="assets/images/icons/dashboard.png">
  <h1 class="header-text"><b>DASHBOARD</b></h1>
</div>
<div class="dashboard-wrapper">
  <div class="onchain-stats">
    <div class="stats-cards">
      <!-- Ethereum Card -->
      <div class="card eth-card">
        <div class="card-body">
          <div class="sub-title">
            <img class="sub-title-icon" src="assets/images/icons/ethereum-big-logo.png">
            <h3 class="card-title"><b>Ethereum</b></h3>
          </div>
          <p class="card-text-price"><b>Price:</b> {{etherPrice | currency:'USD'}}</p>
          <p class="card-text"><b>Latest Block:</b> {{latestBlockNumber}}</p>
          <h3 class="card-title"><b>Gas Prices (Gwei)</b></h3>
          <p class="card-text"><b>Low:</b> {{gasPrices?.SafeGasPrice}} Gwei</p>
          <p class="card-text"><b>Average:</b> {{gasPrices?.ProposeGasPrice}} Gwei</p>
          <p class="card-text"><b>High:</b> {{gasPrices?.FastGasPrice}} Gwei</p>
          <p class="card-text"><b>Supply:</b> 120.1 M </p>
        </div>
      </div>

      <!-- Polygon Card -->
      <div class="card polygon-card">
        <div class="card-body">
          <div class="sub-title">
            <img class="sub-title-icon" src="assets/images/icons/polygon-big-logo.png">
            <h3 class="card-title"><b>Polygon</b></h3>
          </div>
          <p class="card-text-price"><b>Price:</b> {{polygonPrice | currency:'USD'}}</p>
          <p class="card-text"><b>Latest Block:</b> {{polygonLatestBlockNumber}}</p>
          <h3 class="card-title"><b>Gas Prices (Gwei)</b></h3>
          <p class="card-text"><b>Standard:</b> {{polygonGasPrices?.SafeGasPrice}} GWei</p>
          <p class="card-text"><b>Fast:</b> {{polygonGasPrices?.ProposeGasPrice}} GWei</p>
          <p class="card-text"><b>Rapid:</b> {{polygonGasPrices?.FastGasPrice}} Gwei</p>
          <p class="card-text"><b>Supply:</b> 9.9 Billion </p>
        </div>
      </div>

      <!-- Avalanche Card {{avalancheGasPrices?.ProposeGasPrice}} {{avalancheGasPrices?.FastGasPrice}}-->
      <div class="card avax-card">
        <div class="card-body">
          <div class="sub-title">
            <img class="sub-title-icon" src="assets/images/icons/avalanche-big-logo.png">
            <h3 class="card-title"><b>Avalanche</b></h3>
          </div>
          <p class="card-text-price"><b>Price:</b> {{avalanchePrice | currency:'USD'}}</p>
          <p class="card-text"><b>Latest Block:</b> {{avalancheLatestBlockNumber}}</p>
          <h3 class="card-title"><b>Gas Prices (nAVAX)</b></h3>
          <p class="card-text"><b>Slow:</b> {{avalancheGasPrices?.SafeGasPrice}} nAVAX</p>
          <p class="card-text"><b>Standard:</b> 28 nAVAX</p>
          <p class="card-text"><b>Fast:</b> 58 nAVAX</p>
          <p class="card-text"><b>Supply:</b> 720 M </p>
        </div>
      </div>
    </div>
  </div>

  <div class="full-width-rectangle">
    <div class="background-img">
      <h1 class="overlay-text">Generative AI Blockchain Security Solution.</h1>
      <h2 class="overlay-text">Effective And Fast.</h2>
    </div>
  </div>
  
  

</div>
