<div class="header">
    <h1 id="history_title">
        <img src="assets/images/icons/historyLogo.png" alt="ETHlogo" class="ETHlogo">
        Fraud Transaction Analysis History
    </h1>
</div>
<div class="transaction-chain-logo">
    <mat-card-title class="transaction-chain-title">
      <img class="chain-logo" src="assets/images/icons/ethereum-big-logo.png" alt="ETH Logo">
      Ethereum
    </mat-card-title>
</div>
<div class="body-container">
    <div class="body-table">
        <table id="analysis-history-table">
            <tr>
                <th>Transaction Name</th>
                <th>Ownership of From Address</th>
                <th>Ownership of To Address</th>
                <th>Fraud Transaction Type</th>
                <th>Likelihood of Fraud</th>
                <th>Result Saved On</th>
            </tr>
            <tr *ngFor="let analysis of fraudAnalysisHistory" 
                (click)="selectAnalysis(analysis)"
                [class.selected-row]="selectedAnalysis === analysis">
                <td>{{ analysis.transaction_name }}</td>
                <td>{{ analysis.ownership_from }}</td>
                <td>{{ analysis.ownership_to }}</td>
                <td>{{ analysis.fraud_transaction_type }}</td>
                <td>{{ analysis.likelihood_of_fraud }}</td>
                <td>{{ analysis.created_at | date }}</td>
            </tr>
        </table>

        <!-- Search Section -->
        <div class="search-section">
            <div class="form-container" id="transaction-name">
                <input type="text" [(ngModel)]="searchName" placeholder="Transaction Name">
            </div>
            <div class="form-container" id="fraud-type">
                <select [(ngModel)]="searchType">
                    <option value="">Select Fraud Type</option>
                    <option value="Broker Or Dealer Fraud">Broker Or Dealer Fraud</option>
                    <option value="Financial Crimes">Financial Crimes</option>
                    <option value="Market Manipulation">Market Manipulation</option>
                    <option value="Ponzi Schemes">Ponzi Schemes</option>
                    <option value="Pump and Dump Schemes">Pump and Dump Schemes</option>
                    <option value="Scam Initial Coin Offerings">Scam Initial Coin Offerings</option>
                    <option value="Traditional Theft">Traditional Theft</option>
                    <option value="Unscrupulous Promotors">Unscrupulous Promotors</option>
                    <option value="Unknown">Unknown</option>
                    <option value="Other">Other</option>
                </select>
                <input type="text" *ngIf="searchType === 'Other'" [(ngModel)]="searchTypeOther" placeholder="Specify Other Type">
            </div>
            <div class="form-container" id="ownership-from">
                <input type="text" [(ngModel)]="searchOwnershipFrom" placeholder="Ownership of From Address">
            </div>
            <div class="form-container" id="ownership-to">
                <input type="text" [(ngModel)]="searchOwnershipTo" placeholder="Ownership of To Address">
            </div>
            <div class="form-container" id="likelihood-of-fraud">
                <input type="text" [(ngModel)]="searchLikelihood" placeholder="Likelihood of Fraud">
            </div>
            <div class="form-container">
                <button id="search-transaction-button" (click)="search()">Search</button>
            </div>
        </div>
    </div>
</div>

<!-- Display Result Section -->
<div *ngIf="selectedAnalysis" class="selected-analysis-details">
    <h1 id="result_title">Selected Analysis Result</h1>
    <div class="form-container horizontal-container">
        <div class="form-element">
            <label for="transactionName">Transaction Name</label>
            <input type="selected-text" [(ngModel)]="selectedAnalysis.transaction_name" name="transactionName" placeholder="Transaction Name" [readonly]="!editMode" [class.editable]="editMode">
        </div>
        <div class="form-element">
            <label for="likelihoodOfFraud">Likelihood of Fraud</label>
            <input type="selected-text" [(ngModel)]="selectedAnalysis.likelihood_of_fraud" name="likelihoodOfFraud" placeholder="Likelihood of Fraud" [readonly]="!editMode" [class.editable]="editMode">
        </div>
        <div class="form-element">
            <label for="fraudTransactionType">Fraud Transaction Type</label>
            <input type="selected-text" [(ngModel)]="selectedAnalysis.fraud_transaction_type" name="fraudTransactionType" placeholder="Fraud Transaction Type" [readonly]="!editMode" [class.editable]="editMode">
        </div>
    </div>
    <div class="form-container horizontal-container">
        <div class="form-element">
            <label for="ownershipFrom">Ownership of From Address</label>
            <input type="selected-text" [(ngModel)]="selectedAnalysis.ownership_from" name="ownershipFrom" placeholder="Ownership of From Address" [readonly]="!editMode" [class.editable]="editMode">
        </div>
        <div class="form-element">
            <label for="ownershipTo">Ownership of To Address</label>
            <input type="selected-text" [(ngModel)]="selectedAnalysis.ownership_to" name="ownershipTo" placeholder="Ownership of To Address" [readonly]="!editMode" [class.editable]="editMode">
        </div>
    </div>
    <div class="form-container">
        <div class="form-element">
            <label for="behavior">Behavior of the From and To Addresses</label>
            <textarea [(ngModel)]="selectedAnalysis.behavior" name="behavior" placeholder="Behavior" [readonly]="!editMode" [class.editable]="editMode"></textarea>
        </div>    
    </div>
    <div class="form-container">
        <div class="form-element">
            <label for="peculiarities">Peculiarities in the Transaction</label>
            <textarea [(ngModel)]="selectedAnalysis.peculiarities" name="peculiarities" placeholder="Peculiarities" [readonly]="!editMode" [class.editable]="editMode"></textarea>
        </div>
    </div>
    <div class="form-container">
        <div class="form-element">
            <label for="broaderContext">Market Context and Alerts</label>
            <textarea [(ngModel)]="selectedAnalysis.broader_context" name="broaderContext" placeholder="Broader Context" [readonly]="!editMode" [class.editable]="editMode"></textarea>
        </div>
    </div>
    <div class="form-container">
        <div class="form-element">
            <label for="supportingEvidence">Supporting Evidence for Assessment</label>
            <textarea [(ngModel)]="selectedAnalysis.supporting_evidence" name="supportingEvidence" placeholder="Supporting Evidence" [readonly]="!editMode" [class.editable]="editMode"></textarea>
        </div>
    </div>
    <div class="form-container">
        <div class="form-element">
            <label for="recommendActions">Recommended Actions</label>
            <textarea [(ngModel)]="selectedAnalysis.recommend_actions" name="recommendActions" placeholder="Recommend Actions" [readonly]="!editMode" [class.editable]="editMode"></textarea>
        </div>
    </div>
    <div class="button-group">
        <button (click)="startEdit()" [disabled]="editMode" class="edit-btn">Edit</button>
        <button (click)="saveEdit()" class="save-btn" [disabled]="!editMode">Save</button>
        <button (click)="cancelEdit()" [disabled]="!editMode" class="cancel-btn">Cancel</button>
        <button (click)="deleteAnalysis(selectedAnalysis.id)" [disabled]="!selectedAnalysis || editMode" class="delete-btn">Delete</button>
    </div>
</div>
