<header id="card_header">
    <mat-card-header>
        <mat-card-title id="card_header_title">
            <img src="assets/images/icons/polygon-big-logo.png" alt="PolygonLogo" class="PolygonLogo">
            <u>Polygon Fraud Transaction Analysis</u>
        </mat-card-title>
    </mat-card-header>
</header>
<mat-card-content>
    <div class="transaction-form-hash">
        <label class="sub_title">Transaction Hash (Required)*</label>
        <mat-form-field appearance="outline" class="full-width-input">
            <mat-label>Transaction Hash (Required)</mat-label>
            <input matInput [(ngModel)]="transactionHash" required>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="analyzeTransaction()" class="analyze-button">Analyze Transaction</button>
    </div>
    <div *ngIf="isAnalyzing" class="spinner-container">
        <mat-spinner></mat-spinner>
        <br>
        <p>Analyzing transaction...</p>
    </div>
    <div class="analyze-result-area" *ngIf="fraudAnalysisResult">
        <h3 id="fraud-analysis-result-title">ANALYSIS RESULT</h3>
        <br>
        <h3 class="fraud-analysis-result"><strong>Likelihood of Fraud or Phishing Scam:</strong> {{ fraudAnalysisResult.likelihoodOfFraud | removeSymbols }}</h3>
        <br>
        <p class="fraud-analysis-result"><strong>Type of Possible Fraud:</strong> {{ fraudAnalysisResult.fraudTransactionType | removeSymbols }}</p>
        <br>
        <p class="fraud-analysis-result"><strong>Ownership of From Address:</strong> {{ fraudAnalysisResult.ownershipFrom | removeSymbols }}</p>
        <br>
        <p class="fraud-analysis-result"><strong>Ownership of To Address:</strong> {{ fraudAnalysisResult.ownershipTo | removeSymbols }}</p>
        <br>
        <p class="fraud-analysis-result"><strong>Behavior of the From and To Addresses:</strong></p>
        <p class="fraud-analysis-result">{{ fraudAnalysisResult.behavior | removeSymbols }}</p>
        <br>
        <p class="fraud-analysis-result"><strong>Peculiarities in the Transaction:</strong></p>
        <p class="fraud-analysis-result">{{ fraudAnalysisResult.peculiarities | removeSymbols }}</p>
        <br>
        <p class="fraud-analysis-result"><strong>Broader Context and Alerts:</strong></p>
        <p class="fraud-analysis-result">{{ fraudAnalysisResult.broaderContext | removeSymbols }}</p>
        <br>
        <p class="fraud-analysis-result"><strong>Supporting Evidence for Assessment:</strong></p>
        <p class="fraud-analysis-result">{{ fraudAnalysisResult.supportingEvidence | removeSymbols }}</p>
        <br>
        <p class="fraud-analysis-result"><strong>Recommended Actions:</strong></p>
        <p class="fraud-analysis-result">{{ fraudAnalysisResult.recommendActions| removeSymbols }}</p>
        <br>
    </div>
    <div id="transaction-form-savename" *ngIf="fraudAnalysisResult">
        <label class="sub_title">Transaction Name (Required For Saving The Result)*</label>
        <mat-form-field appearance="outline" class="full-width-input">
            <mat-label>Transaction Name (Required For Saving The Result)</mat-label>
            <input matInput [(ngModel)]="transactionName" required>
        </mat-form-field>
        <button mat-raised-button color="accent" (click)="saveAnalysisResult()" [disabled]="!transactionName || !transactionHash" class="save-button">Save Analysis</button>
    </div>
</mat-card-content>

